<div class="container">
  <div class="row">
    <div class="col-md-8 m-3">
    <% @subjects.each do |subject| %>
      <h2><%= subject.topic %></h2>
      <p><%= subject.description %></p>
      <p><em><%= subject.status %> subject</em></p>
      <div><%= link_to 'Show', subject, class: "btn btn-secondary", role: "button" %>
        <% if policy(subject).update? %>
          <%= link_to 'Edit', edit_subject_path(subject), class: "btn btn-secondary", role: "button" %>
        <% end %>

        <% if policy(subject).destroy? %>
          <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary", role: "button" %>
        <% end %>
      </div>
      <hr />
    <% end %>
    </div>
  </div>
<% if policy(@subjects).create? %>
  <%= link_to 'New Subject', new_subject_path, class: "btn btn-primary", style: "background-color: #008691;"  %>
<% end %>
</div>

