<%= form_with(model: role, local: true) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :role_type %>
    <%= form.text_field :role_type %>
  </div>

  <div class="field">
    <%= form.label 'is admin?' %>
    <%= form.check_box :admin %>
  </div>

  <div class="field">
    <%= form.label :can_create %>
    <%= form.check_box :can_create %>
  </div>

  <div class="field">
    <%= form.label :can_read %>
    <%= form.check_box :can_read %>
  </div>

  <div class="field">
    <%= form.label :can_update %>
    <%= form.check_box :can_update %>
  </div>

  <div class="field">
    <%= form.label :can_delete %>
    <%= form.check_box :can_delete %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
