<p id="notice"><%= notice %></p>

<p>
  <strong>Role Type:</strong>
  <%= @role.role_type %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @role.admin %>
</p>

<p>
  <strong>Can create:</strong>
  <%= @role.can_create %>
</p>

<p>
  <strong>Can read:</strong>
  <%= @role.can_read %>
</p>

<p>
  <strong>Can update:</strong>
  <%= @role.can_update %>
</p>

<p>
  <strong>Can delete:</strong>
  <%= @role.can_delete %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
